<%@ page language="java" contentType="text/html;charset=UTF-8" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/functions" prefix="fn" %>
<%@ taglib uri="http://www.springframework.org/tags" prefix="spring" %>
<div class="col-md-3 col-sm-3">
    <div class="business-card">

        <div class="media">
            <div class="media-body">

                <div class="row">
                    <div class="col-md-3 media-left">
                        <img class="media-object img-circle" style="height: 60px;"
                             src="<c:url value="/resources/images/empty-profile.png"/> "/>
                    </div>
                    <div class="col-md-9" style="text-align: left">
                        <h4 class="media-heading"><c:out value="${userCard.name}"/></h4>

                        <div style="font-size: 14px;"><c:out value="${userCard.email}"/>

                            <div style="color: #666666; font-size: 12px;"><spring:message
                                    code="label.since"/>&nbsp;<c:out
                                    value="${userCard.memberSince}"/></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="column">
        <ul class="nav nav-pills nav-stacked shadow-depth-1">

            <c:set var="uri" value="${requestScope['javax.servlet.forward.request_uri']}"/>

            <c:choose>
                <c:when test="${fn:contains(uri,'user/overview')}">
                    <li><a href="<c:url value="/user/overview/"/>" class="active2"><span
                            class="glyphicon glyphicon-th-large"></span><spring:message code="pill.overview"/></a></li>
                </c:when>
                <c:otherwise>
                    <li><a href="<c:url value="/user/overview/"/>"><span
                            class="glyphicon glyphicon-th-large"></span> <spring:message code="pill.overview"/></a></li>
                </c:otherwise>
            </c:choose>

            <c:choose>
                <c:when test="${fn:contains(uri,'user/profile')}">
                    <li><a href="<c:url value="/user/profile"/> " class="active2"><span
                            class="glyphicon glyphicon-user"></span> <spring:message code="pill.profile"/></a>
                    </li>
                </c:when>
                <c:otherwise>
                    <li><a href="<c:url value="/user/profile"/> "><span class="glyphicon glyphicon-user">
                    </span> <spring:message code="pill.profile"/></a>
                    </li>
                </c:otherwise>
            </c:choose>

            <c:choose>
                <c:when test="${fn:contains(uri,'user/orders')}">
                    <li><a href="<c:url value="/user/orders/"/>0/10" class="active2"><span
                            class="glyphicon glyphicon-shopping-cart"></span> My
                        <spring:message code="pill.orders"/></a></li>
                </c:when>
                <c:otherwise>
                    <li><a href="<c:url value="/user/orders/"/>0/10"><span
                            class="glyphicon glyphicon-shopping-cart"></span>
                        <spring:message code="pill.orders"/></a></li>
                </c:otherwise>
            </c:choose>


            <c:choose>
                <c:when test="${fn:contains(uri,'user/purchases')}">
                    <li><a href="<c:url value="/user/purchases"/>" class="active2"><span
                            class="glyphicon glyphicon-usd"></span>
                        <spring:message code="pill.purchases"/></a>
                    </li>
                </c:when>
                <c:otherwise>
                    <li><a href="<c:url value="/user/purchases"/>"><span class="glyphicon glyphicon-usd"></span>
                        <spring:message code="pill.purchases"/></a>
                    </li>
                </c:otherwise>
            </c:choose>

            <c:choose>
                <c:when test="${fn:contains(uri,'user/my-ratings')}">
                    <li><a href="<c:url value="/user/my-ratings"/>" class="active2"><span
                            class="glyphicon glyphicon-star"></span>
                        <spring:message code="pill.myRatings"/></a>
                    </li>
                </c:when>
                <c:otherwise>
                    <li><a href="<c:url value="/user/my-ratings"/>"><span class="glyphicon glyphicon-star"></span>
                        <spring:message code="pill.myRatings"/></a>
                    </li>
                </c:otherwise>
            </c:choose>

            <c:choose>
                <c:when test="${fn:contains(uri,'user/activity-log')}">
                    <li><a href="<c:url value="/user/activity-log"/>" class="active2"><span
                            class="glyphicon glyphicon-th-list"></span>
                        <spring:message code="pill.activityLog"/></a>
                    </li>
                </c:when>
                <c:otherwise>
                    <li><a href="<c:url value="/user/activity-log"/>"><span class="glyphicon glyphicon-th-list"></span>
                        <spring:message code="pill.activityLog"/></a>
                    </li>
                </c:otherwise>
            </c:choose>

            <li><a href="<c:url value="/mystores"/>"><span
                    class="glyphicon glyphicon-flag"></span> <spring:message code="pill.myStore"/></a></li>
        </ul>
    </div>
</div>
